
/* @import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap'); */
:root {
  --main: #F3B911;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  scrollbar-width: 8px;
  scrollbar-color: none;
  font-family: 'Orbitron', sans-serif;
}

*::-webkit-scrollbar {
  width: 8px;
}

*::-webkit-scrollbar-track {
background: #0D1117;
}

*::-webkit-scrollbar-thumb {
  border-radius: 16px;
  background: #2c2c2cc4;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: rgb(13, 17, 23);
}

body, html {
  overflow-x: hidden;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@media (max-width: 1325px) {
  html {
    font-size: 90%;
  }
}

@media(prefers-reduced-motion: no-preference) {
  html {
    scroll-behavior: smooth;
  }
}
